.main
  .main__top
    .main__top__info
      .main__top__info__name
        group
      .main__top__info__members
        Member：
    = link_to "#", class: "main__top__edit" do
      Edit
  .main__contents
  .main__message